.loading-content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    z-index: 2000;
    top: 0px;
}

.loading-icon {
    position: absolute;
    top: calc(50% - 3em);
    left: calc(50% - 1.5em);
    width: 3em;
    height: 3em;
    border: .5em solid rgb(255, 255, 255, 0.2);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  .title-loading{
    position: absolute;
    top: calc(50% + 1em);
    left: calc(50% - 3.2em);
    font-weight: 700;
    font-size: 18px;
    margin-top: 12px;
    color: #fff;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }